---
title: "Página inicial"
layout: "layouts/home.njk"
isHome: true
header:
  overlay_image: "https://i.pinimg.com/originals/f7/76/49/f7764902ee90d4fc48b6f795307bc366.jpg"
  filter: 0.5
  caption: "Abigail de Andrade, Estrada do Mundo Novo, 1888"
triptych:
- image_path: https://placehold.co/210x210/png
  title     : "Planalto central"
  excerpt   : "Casas do Planalto central do Brasil, do ciclo do ouro à ferrovia"
  url       : /planalto/
  btn_class : "btn-primary"
- image_path: https://placehold.co/210x210/png
  title     : "40 palmos"
  excerpt   : "Difusão do módulo de 40 palmos de testada em Portugal nos séculos XIX e XX"
  url       : /40palmos/
  btn_class : "btn-primary"
- image_path: https://placehold.co/210x210/png
  title     : "Sintaxe espacial"
  excerpt   : "Casas brasileiras analisadas segundo a profundidade visual"
  url       : /sintaxe/
  btn_class : "btn-primary"
---

<section id="colecoes-especiais">
  <h2 class="text-center pb-3">Coleções especiais</h2>
  {% include "partials/triptych.njk" %}
</section>

<section id="inclusoes-recentes">
  <h2 class="text-center my-3">Inclusões recentes</h2>

  <div class="container-fluid">
    <div class="row g-3 m-3">
    {% assign album = collections.casa | reverse %}
    {% include "partials/album.njk" %}
    </div><!--/.row-->
  </div><!--/.container-fluid-->
</section>
